body{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.25em;
}
#parent{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;
}
#parent div{
    background-color: #F83259;
}
#parent #broken{
    background-color: #63F6F3;
}
#parent #cloud{
    background-color: #FFFF04;
}